@import url('https://fonts.googleapis.com/css2?family=Quintessential&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quintessential&family=Source+Serif+4:ital,wght@0,300;1,400&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.header__title{
    text-align: center;
    color: rgb(239, 239, 243);
    font-family: 'Quintessential', cursive;
    background-color: blue;
    background-image: linear-gradient(to right, blue,white);
}
.nav{
    grid-area: nav;
    background-color: blue;
    background-image: linear-gradient(to right, blue,white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
   /* padding: 0 20px;*/
}
.nav__logo{
    /*
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 10;
    */
    text-align: center;
   
}
.nav__links{
    list-style: none;
    display: inline-block;
    margin-bottom: 10px;
    padding-left: 40px;
    

}
.nav__link{
    text-decoration:none;
    margin-left: 15px;
    border-radius: 5px;
    border: solid 1px;
    color:rgb(2, 17, 17);
    

}
.nav__item{
    display: inline-block;

    
    
    
}

.nav__link--active{
    color: blueviolet;
    font-weight: 600;
    border-bottom: 2px solid black;
}
.maps{
    align-items: center;
    margin-top: 4vh;
    margin-left: 6vh;
}
.form{
    margin-top: 4vh;
    margin-right: 10vh;
}
.tarjeta{
   justify-content: center;
}

.footer{
    width: 100%;
    background-color: blue;
    background-image: linear-gradient(to right, blue,white);
    
}
.footer__redes{
    width: 100%;
    background-color: blue;
    background-image: linear-gradient(to right, blue,white);
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
